#map {
  position: absolue;
  left: 0;
  top: 0;
}

/*
* Drawer togggle styles from https://www.w3schools.com/howto/howto_css_menu_icon.asp
*/

.drawer-toggle {
  cursor: pointer;
  float: left;
  padding-left: 20px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.filter {
  color: white;
  position: absolute;
  left: -1000px;
  top: 0;
}

.filter--show {
  left: 0;
  top: 0;
}

.filter__input {
  margin-bottom: 30px;
  width: 100%;
}

.header {
  text-align: center;
  background: grey;
  padding: 20px 0;
}

.header__title {
  color: white;
  margin: 0;
}

.quake-detail {
  color: white;
  border-bottom: 3px solid black;
  text-align: center;
}

.quake-detail.selected button {
  background: blue;
}

.quake-detail button {
  color: white;
  background: grey;
  padding: 15px 0;
}



@media (min-width: 700px) {
 .drawer-toggle {
     display: none;
  }

  .filter {
    position: static;
    display: block;
    background: grey;
    width: 20%;
    float: left;
    min-height: 100vh;
    text-align: center;
  }
}


@media (min-width: 1000px) {
  .filter__input {
    width: 80%;
    max-width: 150px;
  }
}
